name: Auto Absen

on:
  # 1. Ini yang bikin tombol "Run workflow" muncul
  workflow_dispatch:
    inputs:
      jenis_absen:
        description: "Jenis absen (masuk/pulang/auto)"
        required: false
        default: "auto"
        type: choice
        options:
          - auto
          - masuk
          - pulang

  # 2. Schedule tetap ada untuk otomatis
  # ================== AUTO ABSEN SCHEDULE ==================
  schedule:
  # ===== PAGI (Masuk) =====
  # 06:00–07:15 WITA → 22:00–23:15 UTC
   - cron: "0,10,20,30,40,50 22 * * *"
   - cron: "0,10 23 * * *"

  # ===== SORE (Pulang) =====
  # 16:00–17:30 WITA → 08:00–09:30 UTC
   - cron: "0,10,20,30,40,50 8 * * *"
   - cron: "0,10,20,30 9 * * *"




jobs:
  absen:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.9"

      - name: Install dependencies
        run: pip install requests pytz

      - name: Restore absen cache
        uses: actions/cache@v3
        with:
          path: .absen_log
          key: absen-log-${{ github.run_id }}
          restore-keys: |
            absen-log-

      - name: Run absen script
        env:
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
          TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
          ABSEN_MODE: ${{ secrets.ABSEN_MODE }}
          JENIS_ABSEN: ${{ github.event.inputs.jenis_absen }}
        run: python absen_github.py
