name: Auto Absen

on:
  # 1. Ini yang bikin tombol "Run workflow" muncul
  workflow_dispatch:
    inputs:
      jenis_absen:
        description: "Jenis absen (masuk/pulang/auto)"
        required: false
        default: "auto"
        type: choice
        options:
          - auto
          - masuk
          - pulang

  # 2. Schedule tetap ada untuk otomatis
  schedule:
    # Absen masuk: Senin-Jumat 06:10-07:20 WITA
    - cron: "0-50/10 22 * * 1-5"  # 06:00–06:50 WITA
    - cron: "0-10/10 23 * * 1-5"  # 07:00–07:10 WITA


    # Absen pulang Senin-Kamis: 16:00-17:00 WITA (08:00-09:00 UTC)
    # Senin–Kamis
    - cron: "*/10 8-9 * * 1-4"

    # Jumat
    - cron: "*/10 8-9 * * 5"


jobs:
  absen:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.9"

      - name: Install dependencies
        run: pip install requests pytz

      - name: Restore absen cache
        uses: actions/cache@v3
        with:
          path: .absen_log
          key: absen-log-${{ github.run_id }}
          restore-keys: |
            absen-log-

      - name: Run absen script
        env:
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
          TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
          JENIS_ABSEN: ${{ github.event.inputs.jenis_absen }}
        run: python absen_github.py
